  .layerproperty { 
    // background:#fff;
    // position: relative;
    // width: 346px;
    // height:247px;
    // border: 1px solid #E6E9ED;
    // overflow-y: auto;
    // overflow-x: hidden;
    p,label{
      font-size: 0.75rem;
      line-height: 1.0;
      margin-bottom: 0;}
    .nav-link {
      display: block;
      padding: 2px 2px;
      text-align: center;
      font-size: 0.75rem;}
    .nav-pills .nav-item.show .nav-link, 
    .nav-pills .nav-link.active {
      color: #495057;
      background-color: #f5f5f6;
      border-color: #dee2e6 #dee2e6 #f5f5f6;}
    .col-2,.col-10 {
    //   padding-right:0px;
    //   padding-left:0px;
        
    }
    .row {
      margin-right: 0px;
      margin-left: 0px;}
    
    .pillcontent {
      .row {
        margin:1px;}
      .col-6, .col-12 {
        padding:1px;}
      .card-body {
        padding: 0px 2px 2px;}
      .card-title {
        font-size: 0.85rem;
        line-height: 1.0;
        margin-bottom: 2px;}
      button {
        padding: 0.1rem 0.2rem;
        font-size: 0.75rem;
        line-height:1.1;
        background-color:#F5F5F6;
        color:#868686;
        border-color:#dcdcdc;}
      button:hover {
          background-color:#039be5;
          border-color:#039be5;}
      .dropdown-toggle {
        min-width:60px;}
      .dropdown-item {
        padding: 0.1rem 0.25rem;
        font-size: 0.75rem;}
      .dropdown-menu {
        padding: 0;
        margin: 0;
        min-width: 5rem;}
      .draggablenumber {
        cursor: row-resize;
        line-height: 30px;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        user-select: none;}
    }
  }